body {
  display: flex;
}

.hero-section {
    text-align: center;
    background-color: rgb(238, 17, 164);
    color: white;
    padding: 100px;
}

.silly {
    padding-top: 150px;
}

.intro-section {
    display: flex;
    flex-direction: column;
}

.header-one {
    color: red;
}

.header-two {
    color: rgb(24, 183, 247);
}

.header-three {
    color: rgb(13, 211, 13);
}

.header-four {
    color: rgb(152, 5, 250);
}

.quote-pic {
    padding-top: 20px;
    margin: auto;
    display: flex;
    height: auto;
    width: 500px;
    border-radius: 500px;
}