<<<<<<< HEAD
.hero_section {
    display: flex;
    background-color: rgb(238, 17, 164);
    color: white;
=======
body {
  display: flex;
}

.hero-section {
    text-align: center;
    background-color: rgb(238, 17, 164);
    color: white;
    padding: 100px;
}

.silly {
    padding-top: 150px;
}

.intro-section {
    display: flex;
    flex-direction: column;
}
.quote-pic {
    display: flex;
    justify-content: center;
    height: auto;
    width: 600px;
    border-radius: 500px;
>>>>>>> ed21c80 (Finish edits on hero section)
}